@keyframes search {
    from {
        width: 300px;
        box-shadow: 0px 0px 8px #909090;
    }
    to {
        width: 450px;
        box-shadow: 0px 0px 12px #909090;
    }
}

@keyframes search-reverse {
    from {
        width: 450px;
        box-shadow: 0px 0px 12px #909090;
    }
    to {
        width: 300px;
        box-shadow: 0px 0px 8px #909090;
    }
}

@keyframes new-repository {
    from {
        background-color: #30AA20;
        color: white;
    }
    to {
        background-color: #309020;
        color: #EEEEEE;
    }
}

@keyframes new-repository-reverse {
    from {
        background-color: #309020;
        color: #EEEEEE;
    }
    to {
        background-color: #30AA20;
        color: white;
    }
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
    background-color: #202020;
}

img.logo {
    height: 90%;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

a.links {
    text-decoration: none;
    color: white;
    float: left;
    padding-left: 16px;
    font-weight: 600;
}

a.links:hover {
    color: #CCCCCC;
}

p.left-float {
    float: left;
    font-weight: 600;
}

button.new-repository {
    animation: 0.25s new-repository-reverse;
    color: white;
    font-weight: 550;
    background-color: #30AA20;
    box-shadow: 0px 0px 12px #309020;
    margin-top: 14px;
    padding: 6px 14px 6px 14px;
    float: right;
    border-radius: 8px;
    border: none;
}

button.new-repository:hover:not(:active) {
    animation: 0.25s new-repository;
    background-color: #309020;
    color: #EEEEEE;
}

header.header {
    display: flex;
    position: fixed;
    height: 80px;
    width: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #303030;
    align-items: center;
}

div.sidebar {
    color: white;
    height: 100%;
    width: 360px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #252525;
    outline: 1px solid #909090;
}

div.content {
    overflow-x: hidden;
    margin-left: 400px;
    padding: 100px 20px 20px 20px;
    width: calc(100% - 440px);
    height: 100%;
    background-color: #202020;
}

input#search-box {
    animation: 0.5s search-reverse;
    color: white;
    background-color: #252525;
    float: left;
    width: 300px;
    height: 26px;
    padding: 2px 10px 2px 10px;
    box-shadow: 0px 0px 8px #909090;
    border-radius: 8px;
    outline: 1px solid #909090;
    border: none;
    font-weight: 550;
}

input#search-box:focus {
    animation: 0.5s search;
    padding: 2px 10px 2px 10px;
    width: 450px;
    outline: 1px solid #909090;
    box-shadow: 0px 0px 12px #909090;
    border-radius: 8px;
}